$greyColor: #eff0ef;
$black: #2c2c2c;
$red: rgb(255, 59, 48);
$orange: rgb(255, 149, 0);
$yellow: rgb(255, 204, 0);
$green: rgb(76, 217, 100);
$lightBlue: rgb(90, 200, 250);
$darkBlue: rgb(0, 122, 255);
$purple: rgb(131, 86, 214);
$boxShadow: 0 4px 6px rgba(93, 93, 97, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
